{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="flex justify-center items-center min-h-screen w-[100vw] bg-gris overflow-hidden">
        <div class="bg-white shadow-lg rounded-lg flex w-[45%] items-center justify-center max-w-6xl h-screen relative">
            <div class="w-[70%] flex flex-col justify-center items-center p-8 h-full">
                <h1 class="text-2xl font-bold text-bleuLune text-center mb-6 uppercase">Espace d'inscription</h1>
                
                {{ form_start(registrationForm, {'attr': {'class': 'flex flex-col gap-2 w-[90%]'}}) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.numeroTelephone) }}
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                    {{ form_row(registrationForm.adressePostal) }}
                    {{ form_row(registrationForm.codePostal) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button id="submit" type="submit" class="bg-bleuLune text-white font-semibold px-4 py-2 rounded w-full transition duration-300 hover:bg-bleuGlace cursor-pointer">S'inscrire</button>
                {{ form_end(registrationForm) }}

                <p class="mt-4 text-bleuLune">
                    Pas encore de compte ? <a href="{{ path('app_login') }}" class="text-bleuGlace underline">Se connecter</a>
                </p>
            </div>
        </div>

        <div class="w-[55%] h-[100vh] relative flex items-center justify-center">
            <img src="{{ asset('img/register.jpg') }}" alt="Illustration de connexion"
            class="absolute inset-0 w-full h-full object-cover z-0">
            <div class="absolute inset-0 z-10 bg-gradient-to-br from-gris via-bleuGlace to-bleuLune opacity-50"></div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        let pwd = document.getElementById("client_registration_form_plainPassword");
        let submit = document.getElementById("submit");
        let isOkay = false;
        function isPwdValid(value) {
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
            return regex.test(value);
        }

        pwd.addEventListener('blur', function (){
            if(!isPwdValid(pwd.value)){
                pwd.classList.add('border', 'border-red-500');
                isOkay = false;
                afficherErreur(pwd, "N'a pas le format : 1 majuscule, une majuscule, un caractère spécial, un nombre, 8 caractères minimum")
            }else{
                nettoyerErreur(pwd);
                isOkay = true;
            }
        })

        submit.addEventListener('click', function (e) {
            if (!isOkay) {
                e.preventDefault();
            } else {
                nettoyerErreur(pwd);
            }
        });

        function afficherErreur(champ, message) {
            if (champ.nextElementSibling && champ.nextElementSibling.classList.contains('message-erreur')) {
                champ.nextElementSibling.remove();
            }

            const divErreur = document.createElement('div');
            divErreur.textContent = message;
            divErreur.classList.add('text-red-500', 'text-sm', 'mt-1', 'message-erreur');
            champ.insertAdjacentElement('afterend', divErreur);

            champ.classList.add('border', 'border-red-500');
        }

        function nettoyerErreur(champ) {
            if (champ.nextElementSibling && champ.nextElementSibling.classList.contains('message-erreur')) {
                champ.nextElementSibling.remove();
            }
            champ.classList.remove('border-red-500');
        }
    })
    </script>
{% endblock %}
