{% extends 'base.html.twig' %}

{% block title %}Dinosaure{% endblock %}

{% block body %}
    <h1>Dinosaure</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dinosaure.id }}</td>
            </tr>
            <tr>
                <th>ImageDinosaure</th>
                <td>{{ dinosaure.imageDinosaure }}</td>
            </tr>
            <tr>
                <th>LibelleDinosaure</th>
                <td>{{ dinosaure.libelleDinosaure }}</td>
            </tr>
            <tr>
                <th>RegimeDinosaure</th>
                <td>{{ dinosaure.regimeDinosaure }}</td>
            </tr>
            <tr>
                <th>EreDinosaure</th>
                <td>{{ dinosaure.ereDinosaure }}</td>
            </tr>
            <tr>
                <th>DescriptionDinosaure</th>
                <td>{{ dinosaure.descriptionDinosaure }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dinosaure_index') }}">back to list</a>

    <a href="{{ path('app_dinosaure_edit', {'id': dinosaure.id}) }}">edit</a>

    {{ include('dinosaure/_delete_form.html.twig') }}
{% endblock %}
