{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
    {% include 'reuse/hero.html.twig' %}
    <div class="flex justify-around p-5 gap-10">
        <div class="w-[30%]">
            {% include 'reuse/dashboard-admin.html.twig' %}
        </div>
        <div class="w-[70%] mx-auto p-2">
            <div class="w-[100%] flex justify-end">
                <a href="{{ path('app_produit_new') }}" class="p-1.5 bg-slate-900 text-white font-bold rounded text-sm">Créer un produit</a>
            </div> 
            <h1 class="font-bold text-2xl mb-3.5 underline">Les produits</h1>
            <div class="grid-cols-4 grid-rows-4 grid gap-7">
                {% if produits is not empty %}
                    {% for produit in produits|slice(0, 16)  %}
                        <div class="overflow-hidden bg-white border-[1px] border-gray-300 rounded-lg">
                            <div class="px-3 pb-3 pt-2 relative">
                                <span class="absolute bottom-1 left-1 px-2 py-1 text-xs {{ produit.disponibleAchat ? 'bg-slate-900' : 'bg-red-700' }} rounded ml-1 mb-1 font-bold text-white">
                                    {{ produit.disponibleAchat ? 'Disponible' : 'Non disponible' }}
                                </span>
                                <div class="flex justify-between">
                                    <div class="flex flex-row items-center">
                                        <img src="{{ produit.imageProduit }}" class="mr-1.5 w-[35px] h-[35px]" />
                                        <span class="font-bold text-center">{{ produit.libelleProduit }}</span>
                                    </div>
                                    <span>{{ produit.prixProduit }}€</span>
                                </div>
                                <div class="flex flex-col">
                                    <span>{{produit.descriptionProduit}}</span>
                                    <span>Stock : {{produit.stock}}</span>
                                </div>
                                    <div class="flex justify-end gap-2 mt-2">
                                        {{ include('produit/_delete.html.twig') }}
                                        <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="rounded bg-slate-900 p-1 hover:cursor-pointer">
        
                                        </a>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <span>Aucun produit trouvé</span>
                {% endif %}
            </div>
        </div>
    <div>
</div>
{% endblock %}
