{% for enclo in enclos|slice(0, 16) %}
    <div class="overflow-hidden border-[1px] bg-white border-gray-300 rounded-lg">
        <div class="px-3 pb-3 pt-2 relative">
            <span class="absolute bottom-1 left-1 px-2 py-1 text-xs bg-slate-900 rounded ml-1 mb-1 font-bold text-white">
                {{ enclo.biome is not null ? enclo.biome.libelleBiome : 'Pas de biome défini' }}
            </span>
            <div class="flex justify-between">
                <div class="flex flex-row items-center">
                    <span class="font-bold text-center">{{ enclo.libelleEnclos }}</span>
                </div>
            </div>

            <div class="flex justify-end gap-2 mt-2 ">
                {{ include('enclos/_delete_form.html.twig') }}
                <span onClick="mettreAJourData({{enclo.id}})"class="rounded bg-slate-900 p-1 hover:cursor-pointer flex items-center justify-center">
                    {{ include('svg/update-svg.html.twig') }}
                <span/>
            </div>
        </div>
    </div>
{% endfor %}