{% extends 'base.html.twig' %}

{% block title %}FormatChambre{% endblock %}

{% block body %}
    <h1>FormatChambre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ format_chambre.id }}</td>
            </tr>
            <tr>
                <th>LibelleFormatChambre</th>
                <td>{{ format_chambre.libelleFormatChambre }}</td>
            </tr>
            <tr>
                <th>PrixFormatChambre</th>
                <td>{{ format_chambre.prixFormatChambre }}</td>
            </tr>
            <tr>
                <th>DescriptionFormatBillet</th>
                <td>{{ format_chambre.descriptionFormatBillet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_format_chambre_index') }}">back to list</a>

    <a href="{{ path('app_format_chambre_edit', {'id': format_chambre.id}) }}">edit</a>

    {{ include('format_chambre/_delete_form.html.twig') }}
{% endblock %}
